@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
:root{
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1em;
    --anchoMaximo: 1100px;
    --marginGrid: 1em;
}
*{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
html{
    /* Para generar un scroll animado */
    scroll-behavior: smooth;
}
body{
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}
/* Inicio Header */
header .navTop{
    background-color: var(--colorSecundario);
    padding: var(--marginGrid);
}
header .navTop .container{
    display: flex;
    justify-content: space-around;
}
header .navTop a{
    text-decoration: none;
}
header .navTop a i{
    color: var(--colorPrincipal);
    font-size: 140%;
    /*Los iconos tipograficos funcionan como fuentes*/
}
header .navTop a i{
    color: var(--colorPrincipal);
}
header .navTop a span{
    color: white;
    display: none;
}
header nav .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav figure{
    width: 150px;
    padding: var(--marginGrid);
}
header nav .hamburguesa{
    padding: var(--marginGrid);
}
header nav .hamburguesa div{
    width: 30px;
    border-top: 2px solid #80808080;
    margin-bottom: 10px;
}
header nav ul{
    display: block;
    width: 100%;
    padding: var(--marginGrid);
}
header nav ul li{
    text-align: center;
    padding: var(--marginGrid);
    border-bottom: 1px solid grey;
}
header nav ul li:last-of-type{
    border-bottom: none;
}
header nav ul li a{
    color: grey;
}
.activo{
    color: var(--colorPrincipal);
}
/* Final Header */
/* Principio de hero */
.hero{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    padding: 100px var(--marginGrid);
}
h1{
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 250%;
}
.hero h2{
    color: var(--colorPrincipal);
    font-size: 120%;
    text-shadow: 2px 2px 5px black;
    margin: var(--marginGrid) 0 ;
}
.hero h3{
    margin: var(--marginGrid) 0 ;
    color: white;
}
.hero>.boton{
    background-color: var(--colorPrincipal);
    padding: var(--marginGrid);
    text-align: center;
    width: 175px;
    margin-top: calc(var(--marginGrid)*2);
    margin-bottom: var(--marginGrid);
}
.hero>.boton>a{
    color: white;
}
.hero section{
    display: flex;
    width: 175px;
    justify-content: space-between;
}
.hero section article{
    font-size: 200%;
}
.hero section article a{
    color: white;
}
/* Final de hero */
/* Media Queries */
@media(min-width: 48em){
    header .navTop a span{
        display: inline;
    }
    header .navTop .container{
        justify-content: space-between;
    }
}